@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgba(221, 229, 217, 1);
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:link {
  color: rgb(114, 114, 114) !important;
  text-decoration: none !important;
}

a:active {
  color: rgb(114, 114, 114) !important;
}

a:visited {
  color: rgb(114, 114, 114)!important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dot>div>div>div {
  width: 5px !important;
  height: 5px !important;
  background-color: rgba(251, 90, 80, 1) !important;
}

.dot>div {
z-index: 999 !important;
}

.leaflet-container {
background: rgba(221, 229, 217, 1) !important;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  outline: 1px solid rgba(251, 90, 80, 1) ;
  outline-offset: 3px;
  -webkit-outline-radius: 0px !important;
  -moz-outline-radius: 0px !important;
}

.leaflet-control-zoom-in {
  background: rgba(221, 229, 217, 1);
}

.leaflet-touch .leaflet-bar a {
  background: rgba(221, 229, 217, 1) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sentence {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 2.3em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(5, 5, 5, 1);
  text-shadow:
    10px 10px rgba(251, 90, 80, 0.1) !important;
  padding-bottom: 10px !important;

}

.title {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 8em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  -webkit-text-fill-color: rgba(251, 90, 80, 1);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(80, 80, 80); */
  text-shadow:
    10px 10px rgba(251, 90, 80, 0.1) !important;
  /* padding-bottom: 10px !important; */
  position: absolute;
  z-index: 998;
  cursor: none;
}

.titleh2 {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 4em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  -webkit-text-fill-color: rgba(251, 90, 80, 1);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(80, 80, 80); */
  text-shadow:
    10px 10px rgba(251, 90, 80, 0.1) !important;
  /* padding-bottom: 10px !important; */
  position: absolute;
  z-index: 998;
  cursor: none;
}

.notemap {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-weight: 100 !important;
  font-size: 0.08em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
  text-shadow:
    10px 10px rgba(146, 145, 145, 0.1) !important;
  padding-bottom: 20px !important;
  /* text-align: center; */
  animation: opacity 2s ease-in-out infinite alternate;
  opacity: 1;
  position: absolute;
  z-index: 998;
  padding: 10px;
}

.MuiSnackbarContent-message {
  line-height: 1.5em !important;
}

.fish {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 1em !important;
  letter-spacing: 3px !important;
  line-height: 1.4em !important;
  -webkit-text-fill-color: rgb(105, 105, 105);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
  text-shadow:
    10px 10px rgba(146, 145, 145, 0.1) !important;
}

.ebola {
  background: url("../public/zoonotic_niche.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 40vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.route {
  background: url("../public/route.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 30vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.routedef {
  background: url("../public/routedef.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 30vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.routemakala {
  background: url("../public/routemakala.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 30vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.routefence {
  background: url("../public/routefence.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 30vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.armed {
  background: url("../public/armed.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 40vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.msa {
  background: url("../public/msa.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 40vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.drc {
  background: url("../public/DRC.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 40vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center right;
}

.fishChallenges {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 0.9em !important;
  letter-spacing: 2px !important;
  line-height: 1.4em !important;
  -webkit-text-fill-color: rgb(105, 105, 105);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
  text-shadow:
    10px 10px rgba(146, 145, 145, 0.1) !important;
  height: 100%;
  text-transform: uppercase;
}

.MuiTableCell-root {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
  font-size: 0.8em !important;
  -webkit-text-fill-color: rgb(105, 105, 105);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
}

.css-ahj2mt-MuiTypography-root {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 0.8em !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
  transform: translate(-50%, -50%);
}

.css-9l3uo3 {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 0.8em !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
}

.css-8ei86i{
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
}

.defgrad{
  background: linear-gradient(90deg, #faf295, rgba(251, 90, 80, 1));
  width: 200px;
  height: 10px;
  margin: 5px;
}

.defalert {
  background-color: #7fbffb;
  width: 50px;
  height: 10px;
  margin: 5px;
}

.blockalert {
  background-color: rgba(251, 90, 80, 0.8);
  width: 70px;
  height: 10px;
  margin: 5px;
}

.fencesolid {
  background-color: rgba(251, 90, 80, 1);
  width: 70px;
  height: 2px;
  margin: 10px;
}

.fencedashed {
  background: repeating-linear-gradient(90deg,red 0 5px,#0000 0 7px);
  width: 70px;
  height: 2px;
  margin: 10px;
}

.blockW{
  background: url("../public/W.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
  margin-bottom: 5px;
}

.blockN{
  background: url("../public/N.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
  margin-bottom: 5px;
}

.blockF{
  background: url("../public/F.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
  margin-bottom: 5px;
}

.fenceF{
  background: url("../public/FE.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
  margin-bottom: 5px;
}

.makala {
  background: url("../public/makala.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: top center;
}

.planches {
  background: url("../public/planches.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: top center;
}

.blockimage {
  background: url("../public/blocks.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 70vw, 80vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.fence {
  background: url("../public/fence.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.women {
  background: url("../public/women.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.viande{
  background: url("../public/viande.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.flee{
  background: url("../public/flee.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
}

.chall {
  outline: 1px solid rgb(114, 114, 114, .1);
  outline-offset: 3px;
  box-shadow: -6px -6px 0 0 rgba(252, 250, 247, 1), -7px -7px 0 0 rgba(114, 114, 114, 1) !important;
}

.MuiButton-text {
  -webkit-text-fill-color: rgb(114, 114, 114, 1);
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: rgb(114, 114, 114, .5);
  animation: opacity 2s ease-in-out infinite alternate;
  -webkit-animation: opacity 2s ease-in-out infinite alternate;
}

.MuiButton-text:hover {
  background-color: rgba(251, 90, 80, 1) !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(163, 75, 75, 0.5);
}

.translation {
  animation: none !important;
  font-size: 0.7em !important;
  width: auto !important;
}

.boxheader {
  position: fixed;
  margin-top: 3%;
  margin-left: 90%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.logo {
  background: url("../public/logo192.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}

.buttons {
  -ms-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  float: left;
  position: absolute;
  z-index: 999;
  top: 10%;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5
  }

  100% {
    opacity: 1;
  }
}

.footer {
  vertical-align: top;
  font-size: 0.8em !important;
}

.footert {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 0.85em !important;
}

.logofooter {
  background: url("../public/logo192.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  position: relative;
  padding: 5px;
}

.MuiSnackbar-root.MuiSnackbar-anchorOriginBottomLeft {
  position: relative;
  margin-top: 24px;
}

.MuiPaper-root {
  box-shadow: none !important;
  outline: 1px solid rgba(146, 145, 145, 0.4);
  background-color: rgba(221, 229, 217, 1) !important;
  outline-offset: 1px;
  border-radius: 0% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root {
  background-color: rgba(252, 250, 247, 1);
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter !important;
  font-size: 0.3em !important;
  box-shadow: none;
  outline: 1px solid rgb(80, 80, 80);
  outline-offset: 3px;
  height: 100px;
  overflow: auto;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
  color: rgba(80, 80, 80, 0.8);
}

.MuiTouchRipple-root {
  outline: 1px solid rgba(251, 90, 80, 1);
  outline-offset: -8px;
}

.MuiTouchRipple-root:hover {
  outline-color: rgba(80, 80, 80, 0.8) !important;
}

.footer {
  vertical-align: top;
  font-size: 0.8em !important;
}

.footert {
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 0.85em !important;
}

.cc {
  width: 30%;
  display: inline-block;
  margin: 0;
  padding-right: 30px !important;
  vertical-align: top;
}

.license {
  background: url("../public/license.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 200px 50px;
  width: 200px;
  height: 50px;
  position: relative;
  padding: 5px;
  margin-top: 20px;
}



@media only screen and (max-width: 600px) {
  .sentence {
    font-weight: 400 !important;
    font-size: 1.3em !important;
    letter-spacing: 4px !important;
    line-height: 1.1em !important;
  }

  .title {
    font-weight: 400 !important;
    font-size: 5.5em !important;
    letter-spacing: 4px !important;
    line-height: 1.1em !important;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root {
    font-size: 0.3em !important;
  }

  .portrait {
    background-size: 100vw !important;
    height: 100vh;
  }

  .deforestation {
    background-size: 100vw !important;
    height: 100vh;
  }

  .agro {
    background-size: 100vw !important;
    height: 100vh;
    background-position: bottom right;
  }

  .water {
    background-size: 100vw !important;
    height: 100vh;
    background-position: bottom right;
  }

  .route {
    background-size: 90vw !important;
    height: 90vh !important;
    background-position: bottom right;
  }

  .routedef {
    background-size: 90vw !important;
    height: 90vh !important;
    background-position: bottom right;
  }

  .drc {
    background-size: 90vw !important;
    height: 90vh !important;
    background-position: bottom right;
  }

  .routemakala {
    background-size: 90vw !important;
    height: 90vh !important;
    background-position: bottom right;
  }

  .routefence {
    background-size: 90vw !important;
    height: 90vh !important;
    background-position: bottom right;
  }

  .msa {
    background-size: 50vw !important;
    height: 100vh !important;
    background-position: bottom right;
  }

  .armed {
    background-size: 90vw !important;
    height: 100vh !important;
    background-position: bottom right;
  }

  .blockimage {
    background-size: 100vw, 100vw;
  }  

  .planches {
    background-size: auto !important;
  }

  .makala {
    background-size: auto !important;
  }

  .viande {
    background-size: auto !important;
  }

  .flee {
    background-size: auto !important;
  }

  .women {
    background-size: auto !important;
  }

  .fence {
    background-size: auto !important;
    background-position: bottom left;
  }

  .tradkiln {
    display: none;
  }

  .basemap {
    display: none;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root {
    height: 80px;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-text {
    padding: 2px;
  }

  .MuiTableCell-root {
    font-weight: 400 !important;
    font-size: 0.6em !important;
  }

  .fish {
    font-size: 0.8em !important;
  }

  .conclusion {
    font-size: 0.9em !important;
  }

  .fishChallenges {
    font-size: 0.6em !important;
    letter-spacing: 0px !important;
    padding: 2px !important;

  }

  .MuiSnackbarContent-message {
    font-size: 1.5em !important;
  }

  .logo {
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
  }

  .license {
    background-size: 100px 25px;
    width: 100px;
    height: 25px;
  }

  .titleh2 {
    font-size: 4.2em !important;
    overflow-wrap: anywhere !important;  
  }

  .translation {
    animation: none !important;
    font-size: 0.5em !important;
    width: auto !important;
  }

  .boxheader {
    position: fixed;
    margin-top: 3%;
    margin-left: 70%;
    z-index: 1 !important;
    display: flex;
    justify-content: center;
  }  
  

}